footer.footer 
    p.text-center
        img.img-fluid(src='/Images/index.png', width=64, height=64) 
        | &copy; 2021 Games Web. All rights reserved.
link(rel='stylesheet', href='/CSS/footer.css')