doctype
html(lang='en')
    head
        include Includes/header
        include Includes/mixins
    body
        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right
        include Includes/navbar
        .jumbotron.text-center.bg-transparent
            img.img-fluid(src='/Images/index.png', size=64)
            h1.display-3 Games Web
            p.lead Games Web is a platform to play mini games online for free!
        include Includes/footer